*{
    margin: 0;
    padding: 0;
}
nav{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.Logo{
    width: 155px;
    height: 70px;
    left: 120px;
    top: 363px;
}
.menu{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navegacão{
    text-decoration: none;
    color: black;
}
main{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.Dados{
    border: 1px solid #660027;
    width: 780px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center

}
.Contato-Separardo{
    background-color: #660027;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
input{
    width: 400px;
    height: 42px;
    border-radius: 4px;
}
textarea{
    width: 400px;
    height: 125px;
    border-radius: 4px;
}
button{
    width: 128px;
    height: 42px;
    border-radius: 4px;
    background-color: #660027;
    color: white;
}